$slideshow-height: 500px;
$slideshow-width: 500px;

.slideshow {
  margin-top: 40px;
  width: $slideshow-width;
  height: $slideshow-height;
}

.slideshow-container {
  border: 5px solid black;
  overflow: hidden;
  position: relative;
}

.slideshow-tape {
  display: flex;
  position: relative;
  transition: left 0.5s;
}

.image-container {
  width: $slideshow-width;
  height: $slideshow-width;
}

.image {
  width: $slideshow-width;
  height: $slideshow-height;
}

.button-container {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.prev-image {
  height: 100%;
  width: 50%;
}

.next-image {
  height: 100%;
  width: 50%;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  // background: grey;
}

.active {
  background: black;
}
